* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-red-color: #c06262;
  --main-black-color: #484848;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins",sans-serif;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100vh;
  background: #2d2d2d;
}

.add {
  padding: 16px;
}

.add-form {
  display: flex;
  align-items: center;
}

.add-input {
  background: unset;
  border: unset;
  padding: 0 64px;
  flex: 1;
  border-bottom: 1px solid var(--main-red-color);
  outline: unset;
  font-size: 16px;
  text-transform: lowercase;
}

.add-btn {
  font-size: 1.8rem;
  padding: 16px;
  padding-right: unset;
  cursor: pointer;
  background: unset;
  border: unset;
  outline: unset;
}

.todos {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

.todo-placeholder-text {
  font-size: 24px;
  text-align: center;
  padding: 16px;
}

.add-button-placeholder-text {
  font-weight: 600;
  color: royalblue;
}